/* headers */

body>main>article>header {
	padding: 1ch;
	background: var(--elements-background-darker);
	border-radius: 1ch 1ch 0 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	grid-template-areas:
		"title"
		"time";
}

/* main header times */

body>main>article>header>div.time {
	grid-area: time;
}

/* main header titles */

body>main>article>header>h2 {
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* main footers */

body>main>article>footer {
	background: var(--elements-background-darker);
	border-radius: 0 0 1ch 1ch;
	padding: 0.8ch;
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-areas: "tags social";
}

body>main>article>footer>* * {
	display: inline;
}

body>main>article>footer ul {
	padding-bottom: 0;
}

body>main>article ul.tags li {
	margin: 0 0.4ch;
}

body>main>article>footer .tag_container {
	area: tags;
}

body>main>article>footer .icon_list {
	area: social;
}

