body {
	grid-template-columns: 30ch 1fr;
	grid-template-areas:
		"header main"
		"nav    main"
		"footer main";
	transform: none;
}

body>nav>label[for=toggle_nav], label[for=toggle_nav] {
	display: none;
}

/**********/
/* Header */
/*********/

body>header {
	box-shadow: none;
}

/**********/
/* Footer */
/**********/

body>footer {
	background: var(--elements-background);
}


#toggle_nav:checked ~ footer {
	transform: none;
}

/**************/
/* Navigation */
/**************/

body>nav {
	background: var(--elements-background);
}

#toggle_nav:checked ~ nav {
	transform: none;
}

