* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #222222 url("background_1.jpg") center no-repeat;
	background-size: cover;
	--elements-background: rgba(0,0,0,0.5);
	--site-background: rgb(42, 65, 102);
	--text-color: #ffffff;
	--elements-background-darker: rgba(0,0,0,0.5);
	--elements-background-lighter: rgba(1,1,1,0.5);
	color: var(--text-color);
	font-family: "Cantarell";
	font-size: 1.0em;
	height: 100vh;
	overflow: hidden;
	display: grid;
	grid-template-columns: 100% 100%;
	grid-template-rows: min-content 1fr min-content;
	grid-template-areas:
		"nav    header"
		"nav    main"
		"footer main";
	transform: translateX(-100%);
}

/* Nav toggle */

#toggle_nav {
	display: none;
}

/* Text */

::selection {
	background: var(--text-color);
	color: var(--site-background);
}

h1 {font-size: 2.2rem;}
h2 {font-size: 2.0rem;}
h3 {font-size: 1.8rem;}
h4 {font-size: 1.6rem;}
h5 {font-size: 1.4rem;}
h6 {font-size: 1.2rem;}

h1, h2, h3, h4, h5, h6 {
	font-family: "Cantarell Light";
	padding-bottom: 0.8em;
}

p {
	padding-bottom: 0.8em;
}

ul {
	padding-bottom: 0.6rem;
}

a {
	color: var(--text-color);
	text-decoration: underline dotted;
}

ul.icon_list li {
	list-style: none;
	display: inline;
	padding: 0 2px;
}

/**********/
/* Inputs */
/**********/

input {
	background: var(--elements-background-darker);
	color: var(--text-color);
	border: none;
	border-bottom: 1px solid var(--text-color);
	padding: 0.2em 0.4em;
	font-size: inherit;
}

/**********/
/* Header */
/*********/

body>header {
	grid-area: header;
	background: var(--elements-background);
	text-align: center;
	padding: 0.5em;
	box-shadow: 0 0 0.4rem black;
}

body>header>h1 {
	padding: 0;
}

/**********/
/* Footer */
/**********/

body>footer {
	grid-area: footer;
	background: #111111;
	text-align: center;
	padding: 0.4em 0 0 0;
	transition: transform 0.2s;
}

#toggle_nav:checked ~ footer {
	transform: translateX(100%);
}

/**************/
/* Navigation */
/**************/

body>nav {
	grid-area: nav;
	overflow: hidden auto;
	background: #111111;
	transition: transform 0.2s;
}

#toggle_nav:checked ~ nav {
	transform: translateX(100%);
}

/* navigation search bar */

body>nav>label.search {
	width: calc(100% - 4ch);
	display: block;
	margin: 0 2ch 1ch 2ch;
	display: grid;
	grid-template-columns: 1fr 3ch;
	grid-template-rows: 3ch;
	border-radius: 0.8ch;
	transition: border-bottom-color 0.2s;
	background: var(--elements-background-darker);
}

body>nav>label.search>i {
	margin: auto;
}

body>nav>label.search>input {
	width: 100%;
	background: none transparent;
	border: none;
}

/* navigation menu */

body>nav menu a {
	text-decoration: none;
	line-height: 2rem;
	padding-left: 1ch;
}

body>nav>menu menu {
	padding-left: 1ch;
}

body>nav menu label {
	line-height: 2rem;
	text-align: center;
}

body>nav menu li {
	display: grid;
	grid-template-columns: 1fr 2rem;
	grid-template-rows: 2rem;
}

body>nav menu li:not(.sub)>a, body>nav menu {
	grid-column: 1/3
}

body>nav menu li>input[type=checkbox] {
	display: none;
}

body>nav menu li>input[type=checkbox]~menu {
	display: none;
	background: var(--elements-background-darker);
}

body>nav menu li>input[type=checkbox]:checked~menu {
	display: block;
}

/********/
/* Main */
/********/

body>main {
	grid-area: main;
	overflow: hidden auto;
	padding: 0 2ch;
}

body>main>article {
	margin: 2ch auto;
	max-width: 70ch;
	background: var(--elements-background);
	border-radius: 1ch;
	box-shadow: 0 0.7ch 1ch rgba(0,0,0,0.2);
}

/* main contents */

body>main>article>.content {
	padding: 4ch;
}

body>main>article>.content p {
	text-align: justify;
	text-indent: 2em;
	line-height: 1.5em;
}

