* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #222222 url("background_1.jpg") center no-repeat;
	background-size: cover;
	--elements-background: rgba(0,0,0,0.5);
	--text-color: #ffffff;
	--elements-background-darker: rgba(0,0,0,0.5);
	--elements-background-lighter: rgba(1,1,1,0.5);
	display: grid;
	grid-template-columns: 30ch 1fr;
	grid-template-rows: min-content 1fr min-content;
	color: var(--text-color);
	font-family: "Cantarell";
	font-size: 1.1em;
	grid-template-areas:
		"header main"
		"nav    main"
		"footer main";
	height: 100vh;
	overflow: hidden;
}

::selection {
	background: var(--text-color);
	color: var(--site-background);
}

h1 {font-size: 2.2rem;}
h2 {font-size: 2.0rem;}
h3 {font-size: 1.8rem;}
h4 {font-size: 1.6rem;}
h5 {font-size: 1.4rem;}
h6 {font-size: 1.2rem;}

h1, h2, h3, h4, h5, h6 {
	font-family: "Cantarell Light";
	padding-bottom: 0.8em;
}

p {
	padding-bottom: 0.8em;
}

ul {
	padding-bottom: 0.6rem;
}

a {
	color: var(--text-color);
	text-decoration: underline dotted;
}

ul.icon_list li {
	list-style: none;
	display: inline;
	padding: 0 2px;
}

/**********/
/* Inputs */
/**********/

input {
	background: var(--elements-background-darker);
	color: var(--text-color);
	border: none;
	border-bottom: 1px solid var(--text-color);
	padding: 0.2em 0.4em;
	font-size: inherit;
}

/**********/
/* Header */
/*********/

body>header {
	grid-area: header;
	background: var(--elements-background);
	text-align: center;
	padding: 0.5em;
}

body>header>h1 {
	padding: 0;
}

/**********/
/* Footer */
/**********/

body>footer {
	grid-area: footer;
	background: var(--elements-background);
	text-align: center;
	padding: 0.4em 0 0 0;
}

/**************/
/* Navigation */
/**************/

body>nav {
	grid-area: nav;
	overflow: hidden auto;
	background: var(--elements-background);
}

/* navigation search bar */

body>nav>label.search {
	width: calc(100% - 4ch);
	display: block;
	margin: 0 2ch 1ch 2ch;
	display: grid;
	grid-template-columns: 1fr 3ch;
	grid-template-rows: 3ch;
	border-bottom: 1px solid var(--text-color);
	background: var(--elements-background-darker);
}

body>nav>label.search>i {
	margin: auto;
}

body>nav>label.search>input {
	width: 100%;
	background: none transparent;
	border: none;
}

/* navigation menu */

body>nav menu a {
	text-decoration: none;
	line-height: 2rem;
	padding-left: 1ch;
}

body>nav>menu menu {
	padding-left: 1ch;
}

body>nav menu label {
	line-height: 2rem;
	text-align: center;
}

body>nav menu li {
	display: grid;
	grid-template-columns: 1fr 2rem;
	grid-template-rows: 2rem;
}

body>nav menu li:not(.sub)>a, body>nav menu {
	grid-column: 1/3
}

body>nav menu li>input[type=checkbox] {
	display: none;
}

body>nav menu li>input[type=checkbox]~menu {
	display: none;
	background: var(--elements-background-darker);
}

body>nav menu li>input[type=checkbox]:checked~menu {
	display: block;
}

/********/
/* Main */
/********/

body>main {
	grid-area: main;
	overflow: hidden auto;
	padding: 0 2ch;
}

body>main>article {
	margin: 2ch auto;
	max-width: 70ch;
	background: var(--elements-background);
	border-radius: 1ch;
	box-shadow: 0 0.7ch 1ch rgba(0,0,0,0.2);
}

/* main headers */

body>main>article>header {
	background: var(--elements-background-darker);
	border-radius: 1ch 1ch 0 0;
	display: grid;
	grid-template-columns: 7ch 1fr;
	grid-template-rows: 5ch 2ch;
	grid-template-areas:
		"time title"
		"time author";
}

/* main header times */

body>main>article>header>div.time {
	padding: 0.4ch;
	grid-area: time;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr min-content;
	grid-template-areas:
		"month"
		"day"
		"year";
	background: var(--elements-background-lighter);
	border-radius: 1ch 0 0 0;
}

body main article>header>.time span {margin: auto;}
body>main>article>header>.time .day {grid-area: day; font-size: 1.7em;}
body>main>article>header>.time .month {grid-area: month; font-size: 0.8em;}
body>main>article>header>.time .year {grid-area: year; font-size: 0.8em;}

/* main header titles */

body>main>article>header>h2 {
	margin: auto;
	padding: 0;
}

/* main header authors */

body>main>article>header>cite {
	text-align: right;
	padding: 0 1ch 0 0;
}

/* main contents */

body>main>article>.content {
	padding: 4ch;
}

body>main>article>.content p {
	text-align: justify;
	text-indent: 2em;
}

/* main footers */

body>main>article>footer {
	background: var(--elements-background-darker);
	border-radius: 0 0 1ch 1ch;
	padding: 0.8ch;
}

body>main>article>footer>div {
	display: inline-block;
}

body>main>article>footer ul, body>main>article>footer>section, body>main>article>footer ul.tags>li {
	display: inline;
}

body>main>article>footer ul.icon_list {
	float: right;
}

