* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	--site-background: #260404;
	--elements-background: #5e0c0c;
	--text-color: #ffffff;
	--elements-background-darker: #470909;
	--elements-background-lighter: #750f0f;
	display: grid;
	grid-template-columns: 30ch 1fr;
	grid-template-rows: min-content 1fr min-content;
	background: var(--site-background);
	color: var(--text-color);
	font-family: "Cantarell";
	font-size: 1.1em;
	grid-template-areas:
		"header main"
		"nav    main"
		"footer main";
	height: 100vh;
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Cantarell Light";
	padding-bottom: 0.6em;
}

p {
	padding-bottom: 0.6em;
}

ul {
	padding-bottom: 0.6rem;
}

a {
	color: var(--text-color);
	text-decoration: underline dotted;
}

ul.icon_list li {
	list-style: none;
	display: inline;
	padding: 0 2px;
}

/**********/
/* Header */
/*********/

body>header {
	grid-area: header;
	background: var(--elements-background);
	text-align: center;
	padding: 0.5em;
}

body>header>h1 {
	padding: 0;
}

/**********/
/* Footer */
/**********/

body>footer {
	grid-area: footer;
	background: var(--elements-background);
	text-align: center;
	padding: 0.4em 0 0 0;
}

/**************/
/* Navigation */
/**************/

body>nav {
	grid-area: nav;
	overflow: hidden auto;
	background: var(--elements-background);
}

/********/
/* Main */
/********/

body>main {
	grid-area: main;
	overflow: hidden auto;
	padding: 0 2ch;
}

body>main>article {
	margin: 2ch auto;
	max-width: 70ch;
	background: var(--elements-background);
	border-radius: 1ch;
	box-shadow: 0 0.7ch 1ch rgba(0,0,0,0.2);
}

/* main headers */

body>main>article>header {
	background: var(--elements-background-darker);
	border-radius: 1ch 1ch 0 0;
	display: grid;
	grid-template-columns: 7ch 1fr;
	grid-template-rows: 5ch 2ch;
	grid-template-areas:
		"time title"
		"time author";
}

/* main header times */

body>main>article>header>time {
	padding: 0.4ch;
	grid-area: time;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr min-content;
	grid-template-areas:
		"month"
		"day"
		"year";
	background: var(--elements-background-lighter);
	border-radius: 1ch 0 0 0;
}

body main article>header>time span {margin: auto;}
body>main>article>header>time .day {grid-area: day; font-size: 1.7em;}
body>main>article>header>time .month {grid-area: month; font-size: 0.8em;}
body>main>article>header>time .year {grid-area: year; font-size: 0.8em;}

/* main header titles */

body>main>article>header>h2 {
	margin: auto;
	padding: 0;
}

/* main header authors */

body>main>article>header>cite {
	text-align: right;
	padding: 0 1ch 0 0;
}

/* main contents */

body>main>article>main {
	padding: 2ch;
}

body>main>article>main p {
	text-align: justify;
}

/* main footers */

body>main>article>footer {
	background: var(--elements-background-darker);
	border-radius: 0 0 1ch 1ch;
	padding: 0.8ch;
}

body>main>article>footer ul, body>main>article>footer>section, body>main>article>footer ul.tags>li {
	display: inline;
}

body>main>article>footer ul.icon_list {
	float: right;
}
