# opengraph/twitter card preview of articles
pillow==8.1.1

# article excerpt
beautifulsoup4==4.9.3

# page rendering
jinja2==2.11.2
Markdown==3.3.3

# article and tag slugs
git+https://github.com/mozilla/unicode-slugify
