body {
	--gray0: #F9F9F9;
	--gray1: #FFF;
	--gray2: #FFF;
	--code-background: #DDD;
	--text: #333;
	--text-em: #000;
	--shadow-low: 0 0.2em 0.7em rgba(0,0,0,0.3);
	--shadow-high: 0 0.4em 1.4em rgba(0,0,0,0.2);
	--sub-nav-back: #F00;
	--sub-nav-fore: #000;
	line-height: 1.4em;
}

/* syntax coloring */

span.c1, span.cm { /* Comments */
	color: #6A6;
}

span.s, span.s1, span.s2 { /* Strings */
	color: #985;
}

span.o, span.ow { /* Operators */
	color: #B0B;
}

span.kr, span.kc, span.kd { /* Keywords */
	color: #22B;
}
