* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	--gray0: #1C1C1C;
	--gray1: #000000;
	--gray2: #303030;
	--text: #dfdfdf;
	--text-em: #ffffff;
	--shadow-low: 0 0.2em 0.7em rgba(0,0,0,1);
	--shadow-high: 0 0.4em 1.4em rgba(0,0,0,0.7);
	background: var(--gray0);
	color: var(--text);
	font-family: Cantarell, Verdana, Helvetica, Roboto, sans-serif;
	font-size: 1.2rem;
	line-height: 1.5em;
	padding-top: 4rem;
}

a {
	color: var(--text-em);
	text-decoration: dotted underline;
}

/**************/
/* Navigation */
/**************/

nav {
	box-shadow: var(--shadow-low);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 4rem;
	background: var(--gray2);
	z-index: 100;
}

nav a {
	text-decoration: none;
	color: var(--text-em);
}

nav>ul {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
}

nav>ul>li {
	width: 10em;
	height: 100%;
	position: relative;
}

nav>ul>li>a {
	display:block;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 4rem;
	background: var(--gray2);
	border-color: #F00;
	transition: 0.1s border;
}

nav>ul>li:hover>a, nav>ul>li:focus-within>a {
	border-bottom: 0.2em solid #F00;
}

nav li {
	list-style: none;
}

nav>ul>li.group>a::after {
	content: " +";
}

nav>ul>li>ul {
	box-shadow: 0 0 0 #000;
	z-index: -1;
	display: block;
	position: absolute;
	top: 4rem;
	transform: translateY(-100%) translateX(-50%);
	background: var(--gray2);
	padding: 0.7em 0;
	left: 50%;
	width: 100%;
	transition: transform 0.1s;
}

nav>ul>li>ul>li>a {
	display: block;
	width: 100%;
	padding: 0 1em 0 0.8em;
	border-left: 0.2em solid rgba(255,0,0,0);
}
nav>ul>li>ul>li>a:hover, nav>ul>li>ul>li>a:focus {
	border-left: 0.2em solid #F00;
}

nav>ul>li:focus-within>ul, nav>ul>li:hover>ul{
	box-shadow: var(--shadow-high);
	transform: translateX(-50%);
}

/********/
/* Main */
/********/

main>* {
	padding-bottom: 2em;
	text-align: center;
}

main>*:nth-child(odd) {
	background: var(--gray1)
}

main header {
	padding-top: 4rem;
}

main section {
	padding-bottom: 2em;
}

main p {
	width: 70ch;
	max-width: 90%;
	margin: auto;
	padding-top: 2em;
}

main>section p {
	text-align: justify;
}

main section::before, main footer::before {
	background: var(--gray0);
	content: "";
	display: block;
	width: 100%;
	height: 2em;
	clip-path: polygon(0 0, 100% 0, 0 100%);
	margin-bottom: 2em;
}

main section:nth-child(odd), main footer:nth-child(odd) {
	background: var(--gray1);
}

main section:nth-child(even)::before, main footer:nth-child(even)::before {
	background: var(--gray1);
	clip-path: polygon(100% 0, 100% 100%, 0 0);
}

main>footer p {
	padding-top: 0;
}

/**********/
/* Footer */
/**********/

body>footer::before {
	background: #F00;
	content: "";
	display: block;
	width: 100%;
	height: 0.1em;
	margin-bottom: 2rem;
}

body>footer {
	text-align: center;
	margin-bottom: 2rem;
}
body>footer p {
	line-height: 2em;
}
