* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	--gray0: #1C1C1C;
	--gray1: #000000;
	--sub-nav-back: #A00;
	--sub-nav-fore: #FFF;
	--code-background: #404040;
	--text: #dfdfdf;
	--text-em: #ffffff;
	--accent: #F00;
	background: var(--gray0);
	color: var(--text);
	font-family: Cantarell, Verdana, Helvetica, Roboto, sans-serif;
	font-size: 1.2rem;
	line-height: 1.5em;
}

/*********************/
/* Random components */
/*********************/

h1,h2,h3,h4,h5,h6 {
	line-height: 1.4em;
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: var(--text-em);
	text-decoration: dotted underline;
}

a:hover, a:focus {
	text-decoration: underline var(--accent);
}

.big-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: max-content;
	max-width: 90%;
	padding: 0.4em 0.8em;
	border-radius: 0.3em;
	text-decoration: none;
}

.big-button:hover, .big-button:focus-within {
	box-shadow: 0 0 0 0.1em var(--accent);
	text-decoration: none;
}

.tags a {
	background: #220000;
	padding: 0.1em 0.3em;
	border-radius: 0.2em;
	text-decoration: none;
}

/**************/
/* Navigation */
/**************/

nav {
	background: var(--gray1);
	color: var(--text-em);
}

nav ul {
	display: flex;
	justify-content: center;
}

nav li {
	list-style: none;
	font-size: 1.2em;
	position: relative;
}

nav li.focused::before {
	display: block;
	content: "";
	width: 1em;
	height: 0.5em;
	position: absolute;
	bottom: 0;
	left: calc(50% - 0.5em);
	background: var(--sub-nav-back);
	clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

/* links */

nav li a {
	text-decoration: none;
	display: block;
	padding: 0.5em;
}

nav li a:hover, nav li a:focus {
	text-decoration: none;
}

nav li a:hover::before, nav li a:focus::before {
	position: absolute;
	content: "";
	height: 0.1em;
	width: 100%;
	background: var(--text-em);
	left: 0;
	bottom: 0.1em;
}

/* Sub-navigation */

nav .subnav {
	background: var(--sub-nav-back);
	color: var(--sub-nav-fore);
}

nav .subnav li {
	font-size: 1em;
}

nav .subnav li a {
	padding: 0.2em 0.4em;
}

/********/
/* Main */
/********/

main>* {
	padding-bottom: 2em;
	text-align: center;
}

main>*:nth-child(odd) {
	background: var(--gray1)
}

main header {
	padding-top: 2rem;
}

main section {
	padding-bottom: 2em;
}

main h3, main h4, main h5, main h6, main p, main .code-block {
	padding-top: 1.7em;
}

main .tags a {
	background: var(--gray1);
}

main section:nth-child(odd) .tags a, main footer:nth-child(odd) .tags a{
	background: var(--gray0);
}

main .big-button {
	margin-top: 1.7em;
	background: var(--gray1);
}

main section:nth-child(odd) .big-button, main footer:nth-child(odd) .big-button {
	background: var(--gray0);
}

main p, main .code-block {
	width: 70ch;
	max-width: 90%;
	margin: auto;
}

main>section p {
	text-align: justify;
}

main section::before, main footer::before {
	background: var(--gray0);
	content: "";
	display: block;
	width: 100%;
	height: 2em;
	clip-path: polygon(0 0, 100% 0, 0 100%);
	margin-bottom: 2em;
}

main section:nth-child(odd), main footer:nth-child(odd) {
	background: var(--gray1);
}

main section:nth-child(even)::before, main footer:nth-child(even)::before {
	background: var(--gray1);
	clip-path: polygon(100% 0, 100% 100%, 0 0);
}

main>footer p {
	padding-top: 0;
}

main>footer hr {
	width: 10ch;
	max-width: 75%;
	background: var(--accent);
	height: 0.1rem;
	border: none;
	margin: 1rem auto;
}

main code {
	padding: 0.1em 0.4em;
	border-radius: 0.2em;
	background: var(--code-background);
	font-size: 0.9em;
	white-space: nowrap;
}

/* code blocks */

main .code-block {
	display: grid;
	grid-template-columns: max-content 1fr;
	grid-column-gap: 0.6rem;
	width: max-content;
}

main .code-block .lines {
	display: flex;
	flex-direction: column;
}

main .code-block .highlight {
	overflow-x: auto;
	text-align: left;
}

/* syntax coloring */

span.c1, span.cm { /* Comments */
	color: #060;
}

span.s, span.s1, span.s2 { /* Strings */
	color: #B95;
}

span.o, span.ow { /* Operators */
	color: #D0D;
}

span.kr, span.kc, span.kd { /* Keywords */
	color: #77F;
}

/**********/
/* Footer */
/**********/

body>footer::before {
	background: var(--accent);
	content: "";
	display: block;
	width: 100%;
	height: 0.1em;
	margin-bottom: 2rem;
}

body>footer {
	text-align: center;
	margin-bottom: 2rem;
}
body>footer p {
	line-height: 2em;
}
