<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ article.title }} | CaféHaine</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" media="(prefers-color-scheme: light)" href="/css/style_light.css">
		<link rel="shortcut icon" href="/favicon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		{[nav]}
		<main>
			<header>
				<h1>{{ article.title }}</h1>
				<p>Posted {{ article.day }} {{ article.month }} {{ article.year }}</p>
			</header>
			{{ article.render()|safe }}
			<footer>
				<p class="tags">Tags: {* article.tag_list *}</p>
				<hr>
				{% if similar_articles %}
				<p>Similar articles:</p>
				<ul>
					{% for similar_article in similar_articles %}
					<li><a href="/blog/{{similar_article.slug}}/">{{ similar_article.title }}</a></li>
					{% endfor %}
				</ul>
				{% else %}
				<p>No similar articles :(</p>
				{% endif %}
			</footer>
		</main>
		{[footer]}
	</body>
</html>
