<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% set title %}{% block title %}title{% endblock %}{% endset %}{{title}} | CaféHaine</title>
		{% block opengraph %}
		<meta property="og:title" content="{{ title }}">
		<meta property="og:image" content="https://cafehaine.eu/preview.png">
		<meta name="twitter:creator" content="@cafehaine">
		{% endblock opengraph %}
		<link href="atom.xml" type="application/atom+xml" rel="alternate" title="Atom feed for this blog">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" media="(prefers-color-scheme: light)" href="/css/style_light.css">
		<link rel="shortcut icon" href="/favicon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		{% if nav == "blog" %}
			{% include 'nav_blog.html' %}
		{% elif nav == "projects" %}
			{% include 'nav_projects.html' %}
		{% else %}
			{% include 'nav.html' %}
		{% endif %}
		<main>
			{% block main %}{% endblock %}
		</main>
		{% include 'footer.html' %}
	</body>
</html>
