<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ article.title }} | CaféHaine</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" media="(prefers-color-scheme: light)" href="/css/style_light.css">
		<link rel="shortcut icon" href="/favicon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		{[nav]}
		<main>
			<header>
				<h1>{{ article.title }}</h1>
				<p>Posted {{ article.day }} {{ article.month }} {{ article.year }}</p>
			</header>
			{* article.body *}
			<footer>
				<p>Tags: {* article.tag_list *}</p>
				<hr>
				{% if #similar_arts > 0 then %}
				<p>Similar articles:</p>
				<ul>
					{% for i=1,math.min(#similar_arts, 3) do %}
					<li><a href="/blog/{{similar_arts[i].name}}/">{{ similar_arts[i].title }}</a></li>
					{% end %}
				</ul>
				{% else %}
				<p>No similar articles :(</p>
				{% end %}
			</footer>
		</main>
		{[footer]}
	</body>
</html>
