<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ article.title }} | CaféHaine</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" media="(prefers-color-scheme: light)" href="/css/style_light.css">
	</head>
	<body>
		<nav>
			<ul>
				<li class="logo"><a href="/">CaféHaine</a></li>
				<li class="group"><a href="/blog/">Blog</a>
					<ul>
						<li><a href="/blog/all/page_0.html">By date</a></li>
						<li><a href="/blog/tags/">By tags</a></li>
					</ul>
				</li>
				<li class="group"><a href="/projects/">Projects</a>
					<ul>
						<li><a href="#">Latests</a></li>
						<li><a href="#">By platform</a></li>
						<li><a href="#">By subject</a></li>
						<li><a href="#">By language</a></li>
						<li><a href="#">By date</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		<main>
			<header>
				<h1>{{ article.title }}</h1>
				<p>Posted {{ article.day }} {{ article.month }} {{ article.year }}</p>
			</header>
			{* article.body *}
			<footer>
				<p>Tags: {* article.tag_list *}</p>
				<hr>
				{% if #similar_arts > 0 then %}
				<p>Similar articles:</p>
				<ul>
					{% for i=1,math.min(#similar_arts, 3) do %}
					<li><a href="/blog/{{similar_arts[i].name}}/">{{ similar_arts[i].title }}</a></li>
					{% end %}
				</ul>
				{% else %}
				<p>No similar articles :(</p>
				{% end %}
			</footer>
		</main>
		<footer>
			<p><a href="https://twitter.com/cafehaine">Twitter</a> − <a href="https://github.com/cafehaine">Github</a> − <a href="mailto:cafehaine@gmail.com">Email</a></p>
			<p>No javascript, no cookies, no nothing.</p>
			<p>Switch to <a href="https://www.mozilla.org/firefox/new/">Firefox</a>.</p>
			<p>Copyright © {* os.date("*t").year *} CaféHaine, all rights reserved</p>
		</footer>
	</body>
</html>

