<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>CaféHaine</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" media="(prefers-color-scheme: light)" href="/css/style_light.css">
	</head>
	<body>
		{[nav]}
		<main>
			<header>
				<h1>Latest articles</h1>
			</header>
			{% for i=1,3 do art = latest_articles[i] %}
			<section>
				<h2>{{ art.title }}</h2>
				<p>Posted: {{ art.date }}</p>
				<p>{{ art.excerpt }}</p>
				<a href="/blog/{{art.name}}/">Read the article</a>
			</section>
			{% end %}
			<footer>
				<a href="/blog/all/page_0.html">All the articles</a>
			</footer>
		</main>
		{[footer]}
	</body>
</html>
