{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block main %}
<header>
	<h1>CaféHaine</h1>
</header>
<section>
	<h2>Latest articles</h2>
	<hr>
	{% for article in latest_articles %}
	<h3>{{ article.title }}</h3>
	<p>Posted: {{ article.date }}</p>
	<p>{{ article.excerpt()|safe }}</p>
	<a class="big-button" href="{{ article.url }}">Read the article</a>
	{% if not loop.last %}
	<hr>
	{% endif %}
	{% endfor %}
</section>
<footer>
	<a class="big-button" href="/articles/page_0.html">All the articles</a>
</footer>
{% endblock %}
