<nav>
	<ul>
		<li class="logo"><a href="/">CaféHaine</a></li>
		<li class="group"><a href="/blog/all/page_0.html">Blog</a>
			<ul>
				<li><a href="/blog/all/page_0.html">By date</a></li>
				<li><a href="/blog/tags/">By tags</a></li>
			</ul>
		</li>
		<li class="group"><a href="/projects/">Projects</a>
			<ul>
				<li><a href="#">Latests</a></li>
				<li><a href="#">By platform</a></li>
				<li><a href="#">By subject</a></li>
				<li><a href="#">By language</a></li>
				<li><a href="#">By date</a></li>
			</ul>
		</li>
	</ul>
</nav>
