<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ title }} | CaféHaine</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" media="(prefers-color-scheme: light)" href="/css/style_light.css">
		<link rel="shortcut icon" href="/favicon.png">
	</head>
	<body>
		{[nav]}
		<main>
			<header>
				<h1>{{ title }}</h1>
			</header>
			{% for _,article in ipairs(articles) do %}
			<section>
				<h2>{{ article.title }}</h2>
				<p>Posted: {{ article.date }}</p>
				<p>{{ article.excerpt }}</p>
				<a href="/blog/{{article.name}}/">Read the article</a>
			</section>
			{% end %}
		</main>
		{[footer]}
	</body>
</html>
