<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Work in progress | CaféHaine</title>
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" media="(prefers-color-scheme: light)" href="/css/style_light.css">
		<link rel="shortcut icon" href="/favicon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		{[nav]}
		<main>
			<header>
				<h1>Projects</h1>
			</header>
			<section>
				<h2>Work in progress</h2>
				<p>This section of the website is still a work in progress. Sorry :(</p>
			</section>
		</main>
		{[footer]}
	</body>
</html>
